@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom CSS here */
* {
  @apply font-sans;
  image-rendering: optimizeSpeed;
}

body {
  @apply overflow-x-hidden;
}

.container {
  @apply p-0 lg:px-4 mx-auto;
}

:root {
  h1 {
    @apply lg:text-7xl text-6xl font-medium -tracking-[3.75px] lg:-tracking-[4.25px];
    line-height: 1.1;
  }

  h2 {
    @apply lg:text-6xl text-5xl font-medium -tracking-wide;
    line-height: 1.2;
  }

  h3 {
    @apply text-5xl font-medium -tracking-wide;
    line-height: 1.2;
  }

  h4 {
    @apply text-4xl font-medium -tracking-wide;
    line-height: 1.2;
  }

  .sub {
    @apply text-xl font-medium;
    line-height: 1.5;
  }

  p,
  a {
    @apply text-lg font-normal;
    line-height: 1.5;
  }

  .card-title {
    @apply text-4xl font-medium -tracking-wide;
    line-height: 1.2;
  }
}

a {
  @apply transition-all duration-200;
}

.btn {
  @apply py-3 px-6 text-white-100 rounded-full block w-fit;
}

.btn-primary {
  @apply bg-blue-flat hover:text-white-100;
}

.btn-secondary {
  @apply bg-blue-200 hover:text-white-100;
}

.gradient {
  /* Primeiro passo: definir um degradê como fundo */
  background-image: linear-gradient(to right, #0103ff 0%, #01e4ff 100%);

  /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
  background-clip: text;
  -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

  /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
  -webkit-text-fill-color: transparent;

  /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
  color: black;
}
